@font-face {
  font-family: "iconfont"; /* Project id 4802180 */
  src: url('static/fonts/icons/iconfont.woff2?t=1735905399750') format('woff2'),
       url('static/fonts/icons/iconfont.woff?t=1735905399750') format('woff'),
       url('static/fonts/icons/iconfont.ttf?t=1735905399750') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 4.1vw;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*&#xe83d*/
.icon-left:before {
  content: "\e83d";
}
/*&#xe83e*/
.icon-night-mode:before {
  content: "\e83e";
}
/*&#xe840*/
.icon-right:before {
  content: "\e840";
}
/*&#xe841*/
.icon-settings:before {
  content: "\e841";
}
/*&#xe842*/
.icon-sorting:before {
  content: "\e842";
}
/*&#xe88c*/
.icon-change:before {
  content: "\e88c";
}

